<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>欢迎登录</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="wave/css/signin.css" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>

</head>

<body ng-app="wave">

<div class="container" ng-controller="SigninCtrl">

    <form class="form-signin" action="login" name="loginForm" method="POST">
        <h2 class="form-signin-heading">欢迎</h2>

        <input name="username" type="text" ng-model="username" class="form-control" placeholder="账号" required autofocus>
        <input type="password" ng-model="passwordPlain" class="form-control" placeholder="密码">
        <input name="password" type="text" ng-model="password" required>
        <input class="btn btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid" value="登录"/>

        <!--<span ng-show="!loginForm.username.$valid">用户未正确填写</span>-->
    </form>

</div>
<script>
    var app = angular.module('wave', ['angular-md5']);

    app.controller("SigninCtrl",
            function ($scope, $http, md5) {
                $scope.$watchCollection('passwordPlain', function () {
                    $scope.password = md5.createHash($scope.passwordPlain);

                });
            }
    );


</script>
</body>
</html>
